# GEMINI_API_KEY: Required for Gemini AI API calls.
# This is a placeholder key.
# AI Studio automatically injects this at runtime from user secrets.
# Users configure this via the Secrets panel in the AI Studio UI.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# PAYPAL_CLIENT_ID: Clé API Client ID pour l'intégration PayPal
PAYPAL_CLIENT_ID=MY_PAYPAL_CLIENT_ID
CHAP_CHAP_PAY_LINK=https://chapchappay.com/pay/votre_boutique
CHAP_CHAP_TEST_API_KEY=bb752fc80b1c0a8548cb15b0b570c911c01320a7efc35691f8381f75bb36ac85
CHAP_CHAP_TEST_HMAC_KEY=a28318af8a78f0460c88657ef5592e6b
